name: .NET Test (macOS)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Build GLPK
      run: bash util/build_glpk.sh
    - name: Restore Dependencies
      run: dotnet restore
    - name: Build Solution
      run: dotnet build --no-restore
    - name: Test Solution
      run: dotnet test --no-build --verbosity normal
